@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --red: hsl(14, 86%, 42%);
  --green: hsl(159, 69%, 38%);
  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-900: hsl(14, 65%, 9%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.prose :where(h1,h2, h3, h4, h5, h6, p){
  margin: 0;
}

body {
  color: var(--foreground);
  background: var(--rose-300);
  font-family: Arial, Helvetica, sans-serif;
  margin: 48px;
}

.btn-primary{
 @apply bg-red text-white rounded-lg px-6 py-3 w-full text-lg mt-8;
}

